{% macro render_account(account) %}
  <tr>
    <td>{{ account.id }}</td>
    <td>{{ account.name }}</td>
    <td>{{ account.holding }}</td>
  </tr> 
{% endmacro %}

{% macro render_accounts(accounts) %}
  <table class="table is-striped is-hoverable is-fullwidth is-narrow is-bordered is-mobile">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      {% for account in accounts %}
        {{ render_account(account) }}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
